---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import PageLayout from "../../layouts/PageLayout.astro";

const allPosts = Object.values(
  import.meta.glob("../posts/*.mdx", { eager: true })
);

const postData = allPosts.map((post: any) => ({
  title: post.frontmatter.title,
  description: post.frontmatter.description,
  autor: post.frontmatter.author,
  date: post.frontmatter.pubDate,
  url: post.url,
  image: post.frontmatter.thumbnail.url,
  imageAlt: post.frontmatter.thumbnail.alt,
  type: post.frontmatter.type,
}));
console.log(postData);
---

<PageLayout title="O mne">
  <div class="container">
    <h1>Blog časová os</h1>
    <h2>Tu sa nachádzajú všetky príspevky!</h2>
    <h3 class="year">2025</h3>
      <ul class="grid">
        {
          postData.map((post: any, i: number) => (
            <li>
              <div class="timeline-card">
                <Image
                  class="thumbnail"
                  src={post.image}
                  alt={post.imageAlt}
                  inferSize={true}
                  layout="constrained"
                  loading={i < 4 ? "eager" : "lazy"}
                  fetchpriority="high"
                />
                <div class="post-content">
                  <h2>{post.title}</h2>
                  <p class="description">{post.description}</p>
                  <div class="author-date">
                    <p class="author">Autor: {post.autor}</p>
                    <p class="date">{post.date}</p>
                  </div>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
  </div>
</PageLayout>
<style>
  .container {
    max-width: 1200px;
    margin: 50px auto;
    color: black;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
  .author-date {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: var(--text-secondary);
  }
  .timeline-card {
    border: 1px solid var(--border-color);
    border-radius: 15px;
    aspect-ratio: 1 / 1;
  }
  .timeline-card:nth-child(odd) {
    grid-column: 1;

  }
  .timeline-card:nth-child(even) {
    grid-column: 2;

  }
  .post-content {
    padding: 20px;
  }
  .description {
    margin-block: 10px;
  }
  .thumbnail {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    margin-bottom: 10px;
  }
</style>
