---
import { Icon } from "astro-icon/components";
import ThemeToggle from "../theme/ThemeToggle.astro";

const regions = [
  {
    name: "Bratislavský",
    color: "#bfa900",
    href: "/hikes/bratislavsky-kraj",
    description: "Túry pre Bratislavský kraj",
  },
  {
    name: "Trenčiansky",
    color: "#b7c0ee",
    href: "/hikes/trenciansky-kraj",
    description: "Túry pre Trenčiansky kraj",
  },
  {
    name: "Košický",
    color: "rgb(255, 86, 86)",
    href: "/hikes/kosicky-kraj",
    description: "Túry pre Košický kraj",
  },
  {
    name: "Prešovský",
    color: "#6f9c76",
    href: "/hikes/presovsky-kraj",
    description: "Túry pre Prešovský kraj",
  },
  {
    name: "Žilinský",
    color: "#57cc99",
    href: "/hikes/zilinsky-kraj",
    description: "Túry pre Žilinský kraj",
  },
  {
    name: "Nitriansky",
    color: "#b5ead7",
    href: "/hikes/nitriansky-kraj",
    description: "Túry pre Nitriansky kraj",
  },
  {
    name: "Banskobystrický",
    color: "#e5989b",
    href: "/hikes/banskobystricky-kraj",
    description: "Túry pre Banskobystrický kraj",
  },
  {
    name: "Trnavský",
    color: "#f7b267",
    href: "/hikes/trnavsky-kraj",
    description: "Túry pre Trnavský kraj",
  },
];

const navItems = [
  {
    name: "Domov",
    href: "/",
    hasDropdown: false,
  },
  {
    name: "Blog",
    href: "/blog",
    hasDropdown: false,
  },
  {
    name: "Túry",
    href: "/hikes",
    hasDropdown: true,
    dropdownItems: regions,
  },
  {
    name: "Turistická mapa",
    href: "/map",
    hasDropdown: false,
  },
  {
    name: "Plánovač túr",
    href: "/planovac-tur",
    hasDropdown: false,
  },
  {
    name: "Kalendár akcií",
    href: "/calendar",
    hasDropdown: false,
  },
  {
    name: "Odporúčanie",
    href: "/odporucanie",
    hasDropdown: false,
  },
];
---

<header>
  <nav>
    <div class="main-logo">
        <Icon class="hamburger" name="hamburger" size={35} />
        <a class="logo-container" href="/">
          <Icon class="logo" name="logoSite" size={50} />
          <h2>beznahory.sk</h2>
        </a>
    </div>
    <div class="nav-flex">
      <ul class="main-ul">
        {
          navItems.map((item) => (
            <li
              class:list={[
                "nav-item",
                Astro.url.pathname === item.href && "nav-item-active",
              ]}
            >
              {item.hasDropdown ? (
                <>
                  <a href={item.href} class="nav-item-dropdown main-link">
                    <span class="dropdown-link">
                      {item.name}
                    </span>
                    <Icon class="arrow-dropdown" name="arrow-down" size={20} />
                  </a>
                  <div class="nav-dropdown">
                    <ul class="nav-dropdown-content">
                      {item.dropdownItems?.map((region) => (
                        <li>
                          <a
                            href={region.href}
                            class="dropdown-item-link"
                            style="margin: 8px;"
                          >
                            <div
                              style={{ backgroundColor: region.color }}
                              class="region-bar"
                            />
                            <div>
                              <span
                                style="margin-block: 3px;"
                                class="region-name"
                              >
                                {region.name}
                              </span>
                              <span class="region-description">
                                {region.description}
                              </span>
                            </div>
                          </a>
                        </li>
                      ))}
                    </ul>
                  </div>
                </>
              ) : (
                <a class="main-link" href={item.href}>
                  {item.name}
                </a>
              )}
            </li>
          ))
        }
      </ul>
      <ThemeToggle />
    </div>
  </nav>
</header>
<style>
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 100px;
    padding-block: 8px;
    background: var(--nav-bg);
    color: var(--text-primary);
    border-block-end: 1px solid var(--border-color);
  }
  .main-logo {
    display: flex;
  }
  .logo {
    fill: var(--text-primary);
  }
  .logo-container {
    display: flex;
    align-items: center;
  }
  .hamburger {
    display: none;
    fill: var(--text-primary);
  }
  h2 {
    font-size: 1.5rem;
  }
  .nav-flex {
    display: flex;
    gap: 20px;
  }
  .main-ul {
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 1.1rem;
    align-items: center;
  }
  .region-bar {
    width: 4px;
    height: 35px;
  }
  .nav-item-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .main-link {
    padding-inline: 8px;
    padding-block: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  nav .main-link:hover {
    background: var(--nav-hover-bg);
    color: var(--nav-hover-text);
  }
  nav .nav-item-dropdown:hover .dropdown-link {
    color: var(--nav-hover-text);
  }
  .nav-dropdown-content li:hover {
    background: var(--nav-hover-bg);
  }
  .nav-dropdown-content li {
    margin: 7px;
    border-radius: 5px;
  }
  .region-name {
    font-weight: 500;
    display: block;
  }
  .region-description {
    font-size: 0.8rem;
    color: var(--text-secondary);
    display: block;
  }
  .nav-item-dropdown {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  .dropdown-link {
    color: inherit;
  }
  .nav-dropdown {
    position: relative;
  }
  .nav-dropdown-content {
    display: none;
    transition: opacity 0.3s ease;
    list-style: none;
    position: absolute;
    background-color: var(--dropdown-bg);
    min-width: 250px;
    box-shadow: 0px 0px 10px rgba(177, 177, 177, 0.2);
    z-index: 1;
    top: 3px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
  }
  .nav-item:hover .nav-dropdown-content {
    display: block;
  }
  .nav-dropdown::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 5px; /* výška medzery medzi textom a menu */
    z-index: 9999;
  }
  .arrow-dropdown {
    transition: transform 0.3s ease;
    fill: var(--text-primary);
  }
  .nav-item:hover .arrow-dropdown {
    transform: rotate(180deg);
    fill: var(--nav-hover-text);
  }
  .main-ul a {
    color: var(--text-primary);
    text-decoration: none;
  }
  .nav-item-active .main-link {
    color: var(--nav-hover-text);
  }
  .nav-item-active .dropdown-link {
    color: var(--nav-hover-text);
  }

  .dropdown-item-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: var(--text-primary);
    border-radius: 8px;
    margin: 2px;
  }
  @media (max-width: 768px) {
    .hamburger {
      display: block;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
    .main-ul {
      position: fixed;
      left: -100%;
      top: 80px;
      flex-direction: column;
      gap: 0;
      background: var(--nav-bg);
      width: 100%;
      transition: left 0.3s;
      text-align: center;
    }
    .nav-item {
      margin: 20px 0;
    }
    .main-ul.active {
      left: 0;
    }
    .hamburger.active {
      transform: rotate(90deg);
    }
  }
</style>
<script>
  const hamburger = document.querySelector(".hamburger");
  const navMenu = document.querySelector(".main-ul");

  hamburger?.addEventListener("click", () => {
    hamburger.classList.toggle("active");
    navMenu?.classList.toggle("active");
  });
</script>
