---
import { getCollection } from "astro:content";
import HikeLayout from "./index.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  {
    return [
      { params: { kraj: "bratislavsky-kraj" }, props: { posts: allPosts } },
      { params: { kraj: "trnavsky-kraj" }, props: { posts: allPosts } },
      { params: { kraj: "trenciansky-kraj" }, props: { posts: allPosts } },
      { params: { kraj: "nitriansky-kraj" }, props: { posts: allPosts } },
      { params: { kraj: "zilinsky-kraj" }, props: { posts: allPosts } },
      { params: { kraj: "banskobystricky-kraj" }, props: { posts: allPosts } },
      { params: { kraj: "presovsky-kraj" }, props: { posts: allPosts } },
      { params: { kraj: "kosicky-kraj" }, props: { posts: allPosts } },
    ];
  }
}

const { kraj } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post: any) =>
  post.data.kraj?.includes(kraj)
);
---

<HikeLayout title={kraj}>
  <p class="kraj-selector">
    Zobrazujú sa príspevky pre <code>/{kraj}</code> Ak chcete zobraziť všetky príspevky,
    <a class="filter" href="/hikes">zrušte filter</a>.
  </p>
  {
    filteredPosts.length === 0 ? (
      <p class="empty">Pre tento kraj nie sú k dispozicií žiadne príspevky.</p>
    ) : null
  }
  <div class="grid-container">
    {
      filteredPosts.map((post: any) => (
        <a href={`/blog/${post.slug}`}>
          <div>
            <Image
              class="thumbnail"
              src={post.data.thumbnail}
              alt={post.data.thumbnailAlt}
              layout="constrained"
              loading="eager"
            />
            <div class="post-info-wrapper">
              <h2>{post.data.title}</h2>
              <div style="margin-block: 5px" class="icon-info">
                <Icon name="gps2" size={20} />
                <h3>{post.data.okres}</h3>
              </div>
              <div class="author-info">
                <div class="icon-info">
                  <Icon name="person" size={20} />
                  <p>{post.data.author}</p>
                </div>
                <div class="icon-info">
                  <Icon name="date" size={20} />
                  <p>{post.data.pubDate.toLocaleDateString()}</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</HikeLayout>
<style>
  code {
    display: inline-block;
    margin-inline: 5px;
    background:
      linear-gradient(66.77deg, #e6f0ff 0%, #f5f9ff 100%) padding-box,
      linear-gradient(155deg, #003fcc 0%, #0055ff 40%, #66a3ff 80%) border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 15px 8px;
  }
  .kraj-selector {
    margin-block: 30px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  .grid-container a {
    border-radius: 11px;
    border: 1px solid var(--border-color);
    transition: transform 0.2s ease-in-out;
  }
  .grid-container a:hover {
    transform: scale(1.02);
  }
  .thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  .post-info-wrapper {
    padding: 10px;
  }
  .post-info-wrapper h2 {
    font-weight: bold;
  }
  .post-info-wrapper h3 {
    font-weight: 300;
  }
  .author-info {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
  }
  .icon-info {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .filter {
    color: var(--heading-text);
    text-decoration: underline;
  }
  .empty {
    margin-block: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 10px;
  }
</style>
