---
import pfp1 from "../Images/randomPfp2.avif"
import { Image } from "astro:assets";
import PageLayout from "../Layouts/PageLayout.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.mdx", { eager: true })
);
---

<PageLayout>
  <div class="container">
    <h1>Blog</h1>
    <section class="main-grid">
      {
        allPosts.map((post: any, i: number) => (
          <article class="wrapper">
            <Image
              class="thumbnail"
              src={post.frontmatter.thumbnail.url}
              alt={post.frontmatter.thumbnail.alt}
              inferSize={true}
              layout="constrained"
              loading={i < 3 ? "eager" : "lazy"}
            />
            <div class="content-wrapper">
              <h2>{post.frontmatter.title}</h2>
              <h3>{post.frontmatter.description}</h3>
              <p class="excerpt">{post.frontmatter.excerpt}</p>
              <div>
                <Image
                  class="pfp"
                  src={post.frontmatter.pfp.url}
                  alt={post.frontmatter.pfp.alt}
                  inferSize={true}
                  layout="constrained"
                  loading={i < 3 ? "eager" : "lazy"}
                />
                <div>
                  <p>{post.frontmatter.author}</p>
                  <p>{post.frontmatter.pubDate}</p>
                </div>
              </div>
                <a href={post.url}>
                  <span>Čítať ďalej</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="arrow"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m8.25 4.5 7.5 7.5-7.5 7.5"
                    />
                  </svg>
                </a>
            </div>
          </article>
        ))
      }
    </section>
  </div>
</PageLayout>
