---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const allPosts = await getCollection("blog");
// Zoraď príspevky podľa dátumu (od najnovšieho po najstarší)
const sortedPosts = allPosts.sort((a, b) => {
  return (
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  );
});
// Pre mobilnú verziu, vezmi len najnovší príspevok
const latestPost = sortedPosts.length > 0 ? sortedPosts[0] : null;
console.log(latestPost);
---

<div class="desktop-only">
  <div class="swiper">
    <div class="swiper-wrapper">
      {
        allPosts.map((post: any) => (
          <div class="swiper-slide">
            <Image
              class="hero"
              src={post.data.hero}
              alt={post.data.thumbnailAlt}
              loading="eager"
            />
            <div class="hero-content">
              <h1 class="hero-title">{post.data.title}</h1>
              <p class="hero-description">{post.data.description}</p>
              <a class="hero-cta" href={`/blog/${post.slug}`}>
                <Icon class="read-icon" name="read" size={30} />
                Čítať ďalej
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
<div class="mobile-only">
  <div>
    {
      latestPost && (
        <Image
          class="hero"
          src={latestPost.data.hero}
          alt={latestPost.data.thumbnailAlt}
          loading="eager"
        />
        <div class="hero-content-mobile">
          <h2 class="hero-title">{latestPost.data.title}</h2>
          <a class="hero-cta" href={`/blog/${latestPost.slug}`}>
          <Icon class="read-icon" name="read" size={30} />
          Čítať Blog
          </a>
        </div>
      )
    }
  </div>
</div>
<style>
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
  .swiper {
    width: 100%;
    height: 500px;
  }
  .hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hero-title {
    font-size: 3.5rem;
    text-wrap: balance;
  }
  .hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
  }
  .hero-description {
    font-size: 1.5rem;
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  .hero-cta {
    padding: 10px 80px;
    background: white;
    color: black;
    border-radius: 50px;
    font-weight: bold;
    text-shadow: none;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .read-icon {
    transition: transform 0.3s ease-in-out;
  }
  .hero-cta:hover .read-icon {
    transform: scale(1.2);
  }
  .hero-cta:hover {
    background: #172238;
    color: white;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
  }
  @media (max-width: 900px) {
    .desktop-only {
      display: none;
    }
    .mobile-only {
      display: block;
      width: 100vw;
      position: relative;
    }
    .hero-content-mobile {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      color: white;
      text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
    }
    .hero {
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
    .hero-cta {
      padding: 10px 40px;
      background: white;
      color: black;
      border-radius: 50px;
      font-weight: bold;
      text-shadow: none;
      box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }
</style>
<script src="../../scripts/sliderHero.js"></script>
