---
import { Image } from "astro:assets";
const { src, alt, i, title, author, date, excerpt, tags, pfpSrc, pfpAlt, href } =
  Astro.props;
---

<article class="wrapper">
  <Image
    class="thumbnail"
    inferSize={true}
    src={src}
    alt={alt}
    layout="constrained"
    loading={i < 6 ? "eager" : "lazy"}
  />
  <div class="content-wrapper">
    <ul class="tags">
      {tags.map((tag: any) => <li class="tag">{tag}</li>)}
    </ul>
    <h2>{title}</h2>
    <p class="excerpt">{excerpt}</p>
    <div class="author-wrapper">
      <div class="author">
        <Image
          width={50}
          height={50}
          class="pfp"
          inferSize={true}
          src={pfpSrc}
          alt={pfpAlt}
          layout="constrained"
          loading={i < 3 ? "eager" : "lazy"}
        />
        <div>
          <p class="author-name">
            <strong>{author}</strong>
          </p>
          <p>
            {date}
          </p>
        </div>
      </div>
      <a href={href} class="read-more">
        <span>Čítať ďalej</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 2 20 20" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
        </svg>
      </a>
    </div>
  </div>
</article>
