---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
const { frontmatter, remarkPluginFrontmatter, images } = Astro.props;
import MdSwiper from "./MdSwiper.astro";
---

<article class="markdown-post-article">
  <Image
    class="thumbnail"
    src={frontmatter.thumbnail}
    alt={frontmatter.thumbnailAlt}
    inferSize={true}
    layout="constrained"
    fetchpriority="high"
  />
  <h1>{frontmatter.title}</h1>
  <header>
    <div class="author-info">
      <Image
        class="pfp"
        src={frontmatter.pfp}
        alt={frontmatter.pfpAlt}
        inferSize={true}
        layout="constrained"
        loading="eager"
      />
      <p><strong>{frontmatter.author}</strong></p>
    </div>
    <div class="flex-container">
      <Icon name="date" size={20} />
      <p>{frontmatter.pubDate.toLocaleDateString()}</p>
    </div>
    <div class="flex-container">
      <Icon name="read" size={20} />
      <p>{remarkPluginFrontmatter.minutesRead}</p>
    </div>
  </header>
  <section class="markdown-content">
    <slot />
  </section>
  {frontmatter.gallery && <MdSwiper images={images} />}
</article>
<style>
  h1 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-block: 20px;
    color: var(--nav-hover-text);
  }
  header {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
  }
  .markdown-post-article {
    max-width: 800px;
  }
  .pfp {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
  }
  .thumbnail {
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  .flex-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .author-info {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  :global(.markdown-content p) {
    line-height: 2;
    margin-block: 20px;
  }
  :global(.markdown-content h2) {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--nav-hover-text);
    margin-block: 20px;
    scroll-margin-top: 80px;
  }
  :global(.markdown-content img) {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
</style>
