---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
const { frontmatter, remarkPluginFrontmatter, images } = Astro.props;
import MdSwiper from "./MdSwiper.astro";
import SideInfoMain from "../Info/SideInfoMain.astro";
---

<article class="container">
  <div class="wrapper">
    <Image
      class="thumbnail"
      src={frontmatter.thumbnail}
      alt={frontmatter.thumbnailAlt}
      layout="constrained"
      fetchpriority="high"
      loading="eager"
    />
    <h1>{frontmatter.title}</h1>
    <header>
      <div class="author-info">
        <Image
          class="pfp"
          src={frontmatter.pfp}
          alt={frontmatter.pfpAlt}
          layout="constrained"
          loading="eager"
        />
        <p><strong>{frontmatter.author}</strong></p>
      </div>
      <div class="flex-container">
        <Icon class="icon" name="date" size={20} />
        <p>
          {
            new Date(frontmatter.pubDate).toLocaleDateString("sk-SK", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </p>
      </div>
      <div class="flex-container icon-read">
        <Icon class="icon" name="read" size={20} />
        <p>{remarkPluginFrontmatter.minutesRead}</p>
      </div>
    </header>
    {frontmatter.ratings && <SideInfoMain {frontmatter} />}
    <section class="markdown-content">
      <slot />
    </section>
    {frontmatter.gallery && <MdSwiper {images} />}
  </div>
</article>
<style>
  h1 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-block: 20px;
    color: var(--nav-hover-text);
  }
  header {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .container {
  }
  .wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .pfp {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
  }
  .thumbnail {
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  .flex-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .author-info {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  :global(.markdown-content p) {
    line-height: 2;
    margin-block: 20px;
  }
  :global(.markdown-content h2) {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--nav-hover-text);
    margin-block: 20px;
    scroll-margin-top: 80px;
  }
  :global(.markdown-content img) {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  @media (max-width: 650px) {
    header {
      gap: 10px;
    }
  }
  @media (max-width: 590px) {
    .pfp {
      width: 50px;
      height: 50px;
    }
    .author-info {
      gap: 10px;
      font-size: 0.9rem;
    }
    .thumbnail {
      height: 250px;
    }
    .icon {
      width: 15px;
      height: 15px;
    }
    .flex-container p {
      font-size: 0.9rem;
    }
  }
  @media (max-width: 520px) {
    header {
      gap: 20px;
    }
  }
</style>
