---
import { Image } from "astro:assets";
const { images } = Astro.props;
---

<div class="swiper-container">
  <div class="swiper main">
    <div class="swiper-wrapper">
      {
        images.map((image: any) => (
          <a
            data-fslightbox="gallery"
            data-alt={image.alt}
            href={image.url.src}
            class="swiper-slide"
          >
            <Image src={image.url} alt={image.alt} loading="lazy" />
          </a>
        ))
      }
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="swiper thumbs">
    <div class="swiper-wrapper">
      {
        images.map((image: any) => (
          <div class="swiper-slide">
            <Image src={image.url} alt={image.alt} loading="lazy" />
          </div>
        ))
      }
    </div>
  </div>
</div>
<style>
  .swiper-container {
    position: relative;
    height: 600px;
  }
  .swiper.main {
    width: 100%;
    height: 80%;
  }
  .swiper.thumbs {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  }

  img {
    border-radius: 10px;
  }

  .thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: white;
  }
  @media (max-width: 570px) {
    .swiper-container {
      height: 400px;
    }
  }
</style>
<script src="../../../scripts/slider.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.7.4/index.js"
  integrity="sha512-4g8gaH2dbxK8Y/JW2EzLoHkXDO4bPuwjybeEyHGO/hl9JMy8zNaPOrscv4mUMcKdWLOHEh84eBqWtW3XbR28lg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
