---
/* Imported Libraries */
import { Icon } from "Astro-icon/components";

/* Imported components */
import DifficultyRating from "../Components/ratings/DifficultyRating.astro";
import ViewsRating from "../Components/ratings/ViewsRating.astro";

import "../Styles/global.css";

const { frontmatter } = Astro.props;
---

<div class="post-ratings-wrapper">
  <section class="post-container">
    <h1>{frontmatter.title}</h1>
    <div class="postAuthor">
      <Icon name="person" size={30} />
      <p>Napísal: <strong>{frontmatter.author}</strong></p>
    </div>
    <div class="postDate">
      <Icon name="date" size={30} />
      <p>
        Uverejnené: <strong>{frontmatter.pubDate}</strong>
      </p>
    </div>
    <section class="content">
      <slot />
    </section>
  </section>
  {/* Ratings */}
  <section id="hodnotenie" class="ratings">
    <div class="rating-icons">
      <Icon name="lock" size={35} />
      <p>Obtiažnosť</p>
    </div>
    <DifficultyRating {frontmatter} />
    <hr />
    <div class="rating-icons">
      <Icon name="camera" size={35} />
      <p>Výhlady</p>
    </div>
    <ViewsRating {frontmatter} />
    <hr />
    <div class="rating-icons">
      <Icon name="road" size={35} />
      <p>Dĺžka</p>
    </div>
    <p class="rating-text">{frontmatter.ratings.length}</p>
    <hr />
    <div class="rating-icons">
      <Icon name="clock" size={35} />
      <p>Trvanie</p>
    </div>
    <p class="rating-text">{frontmatter.ratings.time}</p>
    <hr />
    <div class="rating-icons">
      <Icon name="elevation" size={35} />
      <p>Terén</p>
    </div>
    <p class="rating-text">{frontmatter.ratings.terrain}</p>
  </section>
</div>
<style>
  .rating-text {
    font-size: 1.5rem;
    color: green;
  }
</style>
