---
import BlogLayout from "./BlogLayout.astro";
import BaseHead from "../Components/head/BaseHead.astro"
import Header from "../Components/basic/Header.astro";
import Footer from "../Components/basic/Footer.astro";

const { content, frontmatter } = Astro.props;
const {title, description, pubDate, thumbnail, author }= content;
---
<html lang={content.lang || "sk"}>
  <head>
    <BaseHead {title} {description}/>
  </head>
<body>
  <Header />
  <main>
    <BlogLayout {title} {pubDate} {thumbnail} {author} {frontmatter}>
      <slot />
    </BlogLayout>
  </main>
  <Footer />
</body>
</html>

