---
import PageLayout from "./PageLayout.astro";
import Toc from "../components/BlogPostLayout/Toc.astro";
import MdContent from "../components/BlogPostLayout/Content/MdContentMain.astro";
import SideInfo from "../components/BlogPostLayout/Info/SideInfoMain.astro";

const { frontmatter, headings, remarkPluginFrontmatter } = Astro.props;

const images = frontmatter.gallery || [];
---

<PageLayout title={frontmatter.title}>
  <div class="container">
    <div class="wrapper">
      {frontmatter.ratings && 
        <SideInfo {frontmatter} />
      }
      <div>
        <MdContent {frontmatter} {remarkPluginFrontmatter} {images}>
          <slot />
        </MdContent>
      </div>
      <Toc {headings} />
    </div>
  </div>
</PageLayout>

<style>
  html {
    scroll-behavior: smooth;
  }
  .container {
    max-width: 100%;
    margin: 50px auto;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
</style>
