---
import PageLayout from "./PageLayout.astro";
import Toc from "../components/BlogPostLayout/Toc.astro";
import MdContent from "../components/BlogPostLayout/Content/MdContentMain.astro";

const { frontmatter, headings, remarkPluginFrontmatter } = Astro.props;

const images = frontmatter.gallery || [];
---

<PageLayout title={frontmatter.title}>
  <div class="container">
    <div class="wrapper">
      <div class="content">
        <MdContent {frontmatter} {remarkPluginFrontmatter} {images}>
          <slot />
        </MdContent>
      </div>
      <div class="toc-container">
        <Toc {headings} />
      </div>
    </div>
  </div>
</PageLayout>

<style>
  html {
    scroll-behavior: smooth;
  }
  .container {
    padding-block: 50px;
  }
  .wrapper {
    max-width: 1500px;
    margin: auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
    padding-inline: 20px;
  }
  .content {
    width: 100%;
    max-width: 800px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-width: 0; 
  }
  .toc-container {
    width: 250px;
    flex-shrink: 0;
    position: sticky;
    top: 100px; 
  }
  @media (max-width: 1200px) {
    .wrapper {
      gap: 30px;
    }
    .toc-container {
      width: 220px;
    }
  }

  @media (max-width: 900px) {
    .wrapper {
      gap: 20px;
    }
    .toc-container {
      display: none;
    }
  }
</style>
